extends layout

block content
  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' placeholder='First Name' name='first_name' value=(undefined===person ? '' : person.first_name))
      
      label(for='middle_name') Middle Name:
      input#middle_name.form-control(type='text' placeholder='Middle Name' name='middle_name' value=(undefined===person ? '' : person.middle_name))
      
      label(for='last_name') Last Name:
      input#last_name.form-control(type='text' placeholder='Last Name' name='last_name' value=(undefined===person ? '' : person.last_name))
      
      label(for='date_of_birth') Date of Birth:
      input#date_of_birth.form-control(type='date' name='date_of_birth' placeholder='DD/MM/YYYY' value=(undefined===person ? '' : person.date_of_birth))
      
      label(for='number_name') Name or Number: 
      input#number_name.form-control(type='text' name='number_name' placeholder='House Name or Number' value=(undefined===address ? '' : address.number_name))
      
      label(for='road') Road: 
      input#road.form-control(type='text' name='road' placeholder='Road' value=(undefined===address ? '' : address.road))
      
      label(for='locality') Locality: 
      input#locality.form-control(type='text' name='locality' placeholder='Locality' value=(undefined===address ? '' : address.locality))
      
      label(for='town') Town:
      input#town.form-control(type='text' name='town' placeholder='Town' value=(undefined===address ? '' : address.locality))
      
      label(for='postcode') Postcode:
      input#postcode.form-control(type='text' name='postcode' placeholder='Postcode' value=(undefined===address ? '' : address.locality))
      
      label(for='email') Email:
      input#email.form-control(type='email' name='email' placeholder='Email' value=(undefined===email ? '' : email.address))
        
      label(for='emailtype') Email Type: 
      select#emailtype.form-control(type='select' placeholder='Email Type' name='emailtype' value=(undefined===email ? '' : email.emailtype))
        each type in emailtype
          option(value='!{type.id}') !{type.emailtype}
        else
          option(value='null') No email types available
      
      label(for='telephone') Telephone:
      input#telephone.form-control(type='text' name='telephone' placeholder='Telephone' value=(undefined===telephone ? '' : telephone.number))
      
      label(for='telephonetype') Telephone Type:
      select#telephonetype.form-control(type='select' placeholder='Telephone Type' name='telephonetype' value=(undefined===telephone ? '' : telephone.telephonetype))
        each type in telephonetype
          option(value='!{type.id}') !{type.telephonetype}
        else
          option(value='null') No Telephone types available
      
      input#submit.form-control(type='submit')

  if errors
    ul
      for error in errors
        li!= error.msg
